In [1]:
import pandas as pd
import numpy as np
import sklearn

# reading in the csv of everyone who took the diabetes survey
diabetics = pd.read_csv('~/Downloads/NHANES-DR/P_DIQ_2017_2020.csv')
# diabetics = pd.read_csv('/content/P_DIQ_2017_2020.csv')

print(diabetics)

           SEQN  DIQ010  DID040  DIQ160  DIQ180  DIQ050  DID060  DIQ060U  \
0      109263.0     2.0     NaN     NaN     NaN     NaN     NaN      NaN
1      109264.0     2.0     NaN     2.0     2.0     NaN     NaN      NaN
2      109265.0     2.0     NaN     NaN     NaN     NaN     NaN      NaN
3      109266.0     2.0     NaN     1.0     1.0     NaN     NaN      NaN
4      109267.0     2.0     NaN     2.0     2.0     NaN     NaN      NaN
...         ...     ...     ...     ...     ...     ...     ...      ...
14981  124818.0     2.0     NaN     2.0     2.0     NaN     NaN      NaN
14982  124819.0     2.0     NaN     NaN     NaN     NaN     NaN      NaN
14983  124820.0     2.0     NaN     NaN     NaN     NaN     NaN      NaN
14984  124821.0     3.0     NaN     NaN     1.0     NaN     NaN      NaN
14985  124822.0     2.0     NaN     1.0     1.0     NaN     NaN      NaN

       DIQ070  DIQ230  ...  DIQ300D  DID310S  DID310D  DID320  DID330  DID341  \
0         NaN     NaN  ...      NaN      NaN      NaN     NaN     NaN     NaN
1         NaN     NaN  ...      NaN      NaN      NaN     NaN     NaN     NaN
2         NaN     NaN  ...      NaN      NaN      NaN     NaN     NaN     NaN
3         2.0     NaN  ...      NaN      NaN      NaN     NaN     NaN     NaN
4         NaN     NaN  ...      NaN      NaN      NaN     NaN     NaN     NaN
...       ...     ...  ...      ...      ...      ...     ...     ...     ...
14981     NaN     NaN  ...      NaN      NaN      NaN     NaN     NaN     NaN
14982     NaN     NaN  ...      NaN      NaN      NaN     NaN     NaN     NaN
14983     NaN     NaN  ...      NaN      NaN      NaN     NaN     NaN     NaN
14984     2.0     NaN  ...      NaN      NaN      NaN     NaN     NaN     NaN
14985     2.0     NaN  ...      NaN      NaN      NaN     NaN     NaN     NaN

       DID350  DIQ350U  DIQ360  DIQ080
0         NaN      NaN     NaN     NaN
1         NaN      NaN     NaN     NaN
2         NaN      NaN     NaN     NaN
3         NaN      NaN     NaN     NaN
4         NaN      NaN     NaN     NaN
...       ...      ...     ...     ...
14981     NaN      NaN     NaN     NaN
14982     NaN      NaN     NaN     NaN
14983     NaN      NaN     NaN     NaN
14984     NaN      NaN     NaN     NaN
14985     NaN      NaN     NaN     NaN

[14986 rows x 28 columns]

In [2]:
# reading in whoever took the NHANES demographics survey
demographics = pd.read_csv('~/Downloads/NHANES-DR/P_DEMO_2017_2020.csv')
# demographics = pd.read_csv('/content/P_DEMO_2017_2020.csv')
print(demographics)

           SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1  \
0      109263.0      66.0       2.0       1.0       2.0       NaN       5.0
1      109264.0      66.0       2.0       2.0      13.0       NaN       1.0
2      109265.0      66.0       2.0       1.0       2.0       NaN       3.0
3      109266.0      66.0       2.0       2.0      29.0       NaN       5.0
4      109267.0      66.0       1.0       2.0      21.0       NaN       2.0
...         ...       ...       ...       ...       ...       ...       ...
15555  124818.0      66.0       2.0       1.0      40.0       NaN       4.0
15556  124819.0      66.0       2.0       1.0       2.0       NaN       4.0
15557  124820.0      66.0       2.0       2.0       7.0       NaN       3.0
15558  124821.0      66.0       2.0       1.0      63.0       NaN       4.0
15559  124822.0      66.0       2.0       1.0      74.0       NaN       2.0

       RIDRETH3  RIDEXMON  DMDBORN4  ...  FIAINTRP  MIALANG  MIAPROXY  \
0           6.0       2.0       1.0  ...       2.0      NaN       NaN
1           1.0       2.0       1.0  ...       2.0      1.0       2.0
2           3.0       2.0       1.0  ...       2.0      NaN       NaN
3           6.0       2.0       2.0  ...       2.0      1.0       2.0
4           2.0       NaN       2.0  ...       2.0      NaN       NaN
...         ...       ...       ...  ...       ...      ...       ...
15555       4.0       1.0       1.0  ...       2.0      1.0       2.0
15556       4.0       2.0       1.0  ...       2.0      NaN       NaN
15557       3.0       2.0       1.0  ...       2.0      NaN       NaN
15558       4.0       1.0       1.0  ...       2.0      1.0       2.0
15559       2.0       2.0       2.0  ...       NaN      2.0       2.0

       MIAINTRP  AIALANGA      WTINTPRP      WTMECPRP  SDMVPSU  SDMVSTRA  \
0           NaN       NaN   7891.762435   8951.815567      3.0     156.0
1           2.0       1.0  11689.747264  12271.157043      1.0     155.0
2           NaN       NaN  16273.825939  16658.764203      1.0     157.0
3           2.0       1.0   7825.646112   8154.968193      2.0     168.0
4           NaN       NaN  26379.991724      0.000000      1.0     156.0
...         ...       ...           ...           ...      ...       ...
15555       2.0       1.0  21586.596728  21666.889837      1.0     166.0
15556       NaN       NaN   1664.919253   1838.169709      2.0     171.0
15557       NaN       NaN  14819.783161  16497.806674      1.0     157.0
15558       2.0       1.0   4666.817952   4853.430230      1.0     158.0
15559       2.0       NaN  14024.476634  15195.796658      1.0     149.0

       INDFMPIR
0          4.66
1          0.83
2          3.06
3          5.00
4          5.00
...         ...
15555      3.82
15556      0.07
15557      1.22
15558      3.71
15559       NaN

[15560 rows x 29 columns]

In [3]:
# this table now has everyone who took the demographic and diabetes surveys with demographic info
diabetics = diabetics.merge(demographics, on = "SEQN", how = "inner")

diabetics = diabetics.merge(demographics, on = "SEQN", how = "inner")

diabetics = diabetics.merge(demographics, on = "SEQN", how = "inner")

diabetics = diabetics.merge(demographics, on = "SEQN", how = "inner")

diabetics = diabetics.merge(demographics, on = "SEQN", how = "inner")

In [4]:
# this table has everyone who has diabetes
only_dm = diabetics.query("DIQ010 == 1")
print(only_dm)

           SEQN  DIQ010  DID040  DIQ160  DIQ180  DIQ050  DID060  DIQ060U  \
10     109274.0     1.0    54.0     NaN     NaN     1.0     1.0      2.0
11     109275.0     1.0     4.0     NaN     NaN     1.0     2.0      2.0
24     109290.0     1.0    60.0     NaN     NaN     2.0     NaN      NaN
26     109292.0     1.0    55.0     NaN     NaN     2.0     NaN      NaN
31     109298.0     1.0    52.0     NaN     NaN     2.0     NaN      NaN
...         ...     ...     ...     ...     ...     ...     ...      ...
14942  124778.0     1.0    44.0     NaN     NaN     2.0     NaN      NaN
14952  124788.0     1.0    50.0     NaN     NaN     2.0     NaN      NaN
14960  124796.0     1.0    54.0     NaN     NaN     2.0     NaN      NaN
14966  124803.0     1.0    32.0     NaN     NaN     2.0     NaN      NaN
14980  124817.0     1.0    67.0     NaN     NaN     2.0     NaN      NaN

       DIQ070  DIQ230  ...  FIAINTRP  MIALANG  MIAPROXY  MIAINTRP  AIALANGA  \
10        1.0     1.0  ...       2.0      1.0       2.0       2.0       1.0
11        2.0     1.0  ...       2.0      NaN       NaN       NaN       NaN
24        1.0     2.0  ...       2.0      1.0       2.0       2.0       1.0
26        1.0     5.0  ...       2.0      1.0       2.0       2.0       NaN
31        1.0     4.0  ...       2.0      1.0       1.0       2.0       NaN
...       ...     ...  ...       ...      ...       ...       ...       ...
14942     1.0     4.0  ...       2.0      1.0       2.0       2.0       1.0
14952     2.0     5.0  ...       2.0      1.0       2.0       2.0       1.0
14960     1.0     5.0  ...       2.0      1.0       2.0       2.0       1.0
14966     1.0     1.0  ...       2.0      2.0       2.0       2.0       2.0
14980     1.0     5.0  ...       2.0      2.0       2.0       2.0       2.0

           WTINTPRP      WTMECPRP  SDMVPSU  SDMVSTRA  INDFMPIR
10      7227.993241   7801.600218      2.0     167.0      1.20
11     16372.533970  17610.326826      2.0     164.0      3.74
24      3967.693106   4099.841985      1.0     171.0      5.00
26     15941.778001  17463.112885      2.0     150.0      1.60
31      7587.880067   7866.974787      1.0     167.0      1.75
...             ...           ...      ...       ...       ...
14942  13324.280657  13922.135130      1.0     154.0      5.00
14952   3013.473594   3103.475884      1.0     171.0      4.69
14960   4516.585648   4667.864801      1.0     167.0       NaN
14966  24789.078370  24004.883291      1.0     155.0      1.37
14980   7724.092682   8189.572200      2.0     165.0      2.19

[1445 rows x 56 columns]

In [5]:
# Define the mapping dictionaries
# gender_mapping = {'1': 'Male', '2': 'Female', 'NA': 'Missing'}
# ethnic_mapping = {'1': 'Mexican American', '2': 'Other Hispanic',
#                   '3': 'Non-Hispanic White', '4': 'Non-Hispanic Black',
#                   '6': 'Non-Hispanic Asian', '7': 'Other Race - Including Multi-Racial', 'NA': 'Missing'}
# educ_level_map = {'1':	'Less than 9th grade',
#                   '2':	'9-11th grade (Includes 12th grade with no diploma)',
#                   '3':	'High school graduate/GED or equivalent',
#                   '4':	'Some college or AA degree',
#                   '5':	'College graduate or above',
#                   '7':	'Refused',
#                   '9':	"Don't Know",
#                   'NA':	'Missing'}

# # Recode the values
# only_dm['Gender/Sex'] = only_dm['Gender/Sex'].map(gender_mapping)
# only_dm['Ethnicity/Race'] = only_dm['Ethnicity/Race'].map(ethnic_mapping)
# only_dm['Education level'] = only_dm['Education level'].map(educ_level_map)

# Rename the columns
# only_dm = only_dm.rename(columns={'RIAGENDR': 'Gender/Sex'})
# only_dm = only_dm.rename(columns={'RIDRETH3': 'Ethnicity/Race'})
# only_dm = only_dm.rename(columns={'DMDEDUC2': 'Education level'})

# print(only_dm)

In [6]:
# this is a table of everyone with diabetic retinopathy
only_dm_ret = only_dm.query("DIQ080 == 1")
print(only_dm_ret)

           SEQN  DIQ010  DID040  DIQ160  DIQ180  DIQ050  DID060  DIQ060U  \
48     109316.0     1.0    58.0     NaN     NaN     2.0     NaN      NaN
102    109373.0     1.0    12.0     NaN     NaN     1.0    18.0      2.0
212    109490.0     1.0    69.0     NaN     NaN     1.0     8.0      2.0
329    109612.0     1.0    60.0     NaN     NaN     2.0     NaN      NaN
354    109638.0     1.0    37.0     NaN     NaN     1.0     5.0      2.0
...         ...     ...     ...     ...     ...     ...     ...      ...
14811  124638.0     1.0    49.0     NaN     NaN     2.0     NaN      NaN
14827  124656.0     1.0    46.0     NaN     NaN     1.0    20.0      2.0
14883  124717.0     1.0    21.0     NaN     NaN     1.0    30.0      2.0
14884  124718.0     1.0    42.0     NaN     NaN     2.0     NaN      NaN
14892  124726.0     1.0   999.0     NaN     NaN     1.0     4.0      2.0

       DIQ070  DIQ230  ...  FIAINTRP  MIALANG  MIAPROXY  MIAINTRP  AIALANGA  \
48        1.0     3.0  ...       2.0      1.0       2.0       2.0       1.0
102       2.0     3.0  ...       2.0      1.0       2.0       2.0       1.0
212       2.0     1.0  ...       2.0      1.0       2.0       2.0       NaN
329       1.0     4.0  ...       NaN      1.0       2.0       2.0       NaN
354       1.0     1.0  ...       2.0      1.0       2.0       2.0       1.0
...       ...     ...  ...       ...      ...       ...       ...       ...
14811     1.0     5.0  ...       2.0      1.0       2.0       2.0       1.0
14827     1.0     4.0  ...       2.0      2.0       2.0       2.0       NaN
14883     2.0     1.0  ...       2.0      1.0       2.0       2.0       1.0
14884     1.0     5.0  ...       2.0      NaN       NaN       NaN       NaN
14892     1.0     3.0  ...       2.0      2.0       2.0       2.0       2.0

            WTINTPRP       WTMECPRP  SDMVPSU  SDMVSTRA  INDFMPIR
48       6119.732139    6448.398885      1.0     150.0      0.07
102     14343.322465   14611.858553      2.0     167.0      1.22
212      4105.767387    4268.063945      2.0     169.0       NaN
329      4219.124104    4280.287645      2.0     151.0       NaN
354    100202.203029  116101.632791      1.0     158.0      3.03
...              ...            ...      ...       ...       ...
14811   86968.490855   91652.121966      2.0     160.0      4.73
14827    3753.780219    4076.321404      2.0     164.0      0.09
14883    7721.079131    7271.786706      2.0     151.0      1.05
14884    7733.690983    8257.430591      2.0     169.0       NaN
14892    5154.404973    5548.580637      1.0     149.0      0.67

[281 rows x 56 columns]

## Demographic distributions for people surveyed that have diabetes:

Here we take the combined table of the diabetes survey joined with demographics and filtered for only those people with diabetes.
Now we will look at each of the significant demographic variables, create plots to break down the distribution of diabetes across each group for each variable, and do hypothesis tests for whether the distribution matches a certain default spread

In [8]:
only_dm.columns

Index(['SEQN', 'DIQ010', 'DID040', 'DIQ160', 'DIQ180', 'DIQ050', 'DID060',
       'DIQ060U', 'DIQ070', 'DIQ230', 'DIQ240', 'DID250', 'DID260', 'DIQ260U',
       'DIQ275', 'DIQ280', 'DIQ291', 'DIQ300S', 'DIQ300D', 'DID310S',
       'DID310D', 'DID320', 'DID330', 'DID341', 'DID350', 'DIQ350U', 'DIQ360',
       'DIQ080', 'SDDSRVYR', 'RIDSTATR', 'Gender/Sex', 'RIDAGEYR', 'RIDAGEMN',
       'RIDRETH1', 'Ethnicity/Race', 'RIDEXMON', 'DMDBORN4', 'DMDYRUSZ',
       'Education level', 'DMDMARTZ', 'RIDEXPRG', 'SIALANG', 'SIAPROXY',
       'SIAINTRP', 'FIALANG', 'FIAPROXY', 'FIAINTRP', 'MIALANG', 'MIAPROXY',
       'MIAINTRP', 'AIALANGA', 'WTINTPRP', 'WTMECPRP', 'SDMVPSU', 'SDMVSTRA',
       'INDFMPIR'],
      dtype='object')

In [11]:
only_dm.head

<bound method NDFrame.head of            SEQN  DIQ010  DID040  DIQ160  DIQ180  DIQ050  DID060  DIQ060U  \
10     109274.0     1.0    54.0     NaN     NaN     1.0     1.0      2.0
11     109275.0     1.0     4.0     NaN     NaN     1.0     2.0      2.0
24     109290.0     1.0    60.0     NaN     NaN     2.0     NaN      NaN
26     109292.0     1.0    55.0     NaN     NaN     2.0     NaN      NaN
31     109298.0     1.0    52.0     NaN     NaN     2.0     NaN      NaN
...         ...     ...     ...     ...     ...     ...     ...      ...
14942  124778.0     1.0    44.0     NaN     NaN     2.0     NaN      NaN
14952  124788.0     1.0    50.0     NaN     NaN     2.0     NaN      NaN
14960  124796.0     1.0    54.0     NaN     NaN     2.0     NaN      NaN
14966  124803.0     1.0    32.0     NaN     NaN     2.0     NaN      NaN
14980  124817.0     1.0    67.0     NaN     NaN     2.0     NaN      NaN

       DIQ070  DIQ230  ...  FIAINTRP  MIALANG  MIAPROXY  MIAINTRP  AIALANGA  \
10        1.0     1.0  ...       2.0      1.0       2.0       2.0       1.0
11        2.0     1.0  ...       2.0      NaN       NaN       NaN       NaN
24        1.0     2.0  ...       2.0      1.0       2.0       2.0       1.0
26        1.0     5.0  ...       2.0      1.0       2.0       2.0       NaN
31        1.0     4.0  ...       2.0      1.0       1.0       2.0       NaN
...       ...     ...  ...       ...      ...       ...       ...       ...
14942     1.0     4.0  ...       2.0      1.0       2.0       2.0       1.0
14952     2.0     5.0  ...       2.0      1.0       2.0       2.0       1.0
14960     1.0     5.0  ...       2.0      1.0       2.0       2.0       1.0
14966     1.0     1.0  ...       2.0      2.0       2.0       2.0       2.0
14980     1.0     5.0  ...       2.0      2.0       2.0       2.0       2.0

           WTINTPRP      WTMECPRP  SDMVPSU  SDMVSTRA  INDFMPIR
10      7227.993241   7801.600218      2.0     167.0      1.20
11     16372.533970  17610.326826      2.0     164.0      3.74
24      3967.693106   4099.841985      1.0     171.0      5.00
26     15941.778001  17463.112885      2.0     150.0      1.60
31      7587.880067   7866.974787      1.0     167.0      1.75
...             ...           ...      ...       ...       ...
14942  13324.280657  13922.135130      1.0     154.0      5.00
14952   3013.473594   3103.475884      1.0     171.0      4.69
14960   4516.585648   4667.864801      1.0     167.0       NaN
14966  24789.078370  24004.883291      1.0     155.0      1.37
14980   7724.092682   8189.572200      2.0     165.0      2.19

[1445 rows x 56 columns]>

In [19]:
only_dm_ret.query('RIAGENDR == 2.0')['RIAGENDR']

48       2.0
102      2.0
354      2.0
367      2.0
552      2.0
        ...
14603    2.0
14697    2.0
14827    2.0
14883    2.0
14884    2.0
Name: RIAGENDR, Length: 140, dtype: float64

In [21]:
dm_gend_dist = (only_dm.groupby(['RIAGENDR']).size()).reset_index(name = 'diabetes gender counts')
dm_gend_dist['diabetes gender proportions'] = dm_gend_dist['diabetes gender counts']/sum(dm_gend_dist['diabetes gender counts'])
total_gend_dist = (demographics.groupby(['RIAGENDR']).size()).reset_index(name = 'counts')
dm_gend_dist['percent of total population of gender with diabetes'] = dm_gend_dist['diabetes gender counts']/total_gend_dist['counts']
dm_gend_dist['count of diabetics with retinopathy'] = (only_dm_ret.groupby(['RIAGENDR']).size())
dm_gend_dist['percent of diabetics of each gender with retinopathy'] = dm_gend_dist['count of diabetics with retinopathy']/dm_gend_dist['diabetes gender counts']
dm_gend_dist

,RIAGENDR,diabetes gender counts,diabetes gender proportions,percent of total population of gender with diabetes,count of diabetics with retinopathy,percent of diabetics of each gender with retinopathy
0,1.0,771,0.533564,0.099858,NaN,NaN
1,2.0,674,0.466436,0.085980,141.0,0.209199

In [30]:
print(only_dm_ret.groupby('RIDRETH3').size())

RIDRETH3
1.0    32
2.0    36
3.0    86
4.0    84
6.0    31
7.0    12
dtype: int64

In [29]:
print(len(only_dm_ret.query('RIDRETH3 == 1.0')['RIDRETH3']))
print(len(only_dm_ret.query('RIDRETH3 == 2.0')['RIDRETH3']))
print(len(only_dm_ret.query('RIDRETH3 == 3.0')['RIDRETH3']))
print(len(only_dm_ret.query('RIDRETH3 == 4.0')['RIDRETH3']))
print(len(only_dm_ret.query('RIDRETH3 == 6.0')['RIDRETH3']))
print(len(only_dm_ret.query('RIDRETH3 == 7.0')['RIDRETH3']))

32
36
86
84
31
12

In [24]:
# this is where we will analyze the demographic variable distributions for everyone with diabetes
ethn_dm_dist = (only_dm.groupby(['RIDRETH3']).size()).reset_index(name = 'dm_counts')
# ethn_dm_dist.rename(columns = {'RIDRETH3': 'Race'})
ethn_dm_dist['dm_props'] = ethn_dm_dist['dm_counts']/sum(ethn_dm_dist['dm_counts'])
total_ethn = (demographics.groupby(['RIDRETH3']).size()).reset_index(name = 'counts')
ethn_dm_dist['total_ethn_counts'] = total_ethn['counts']
ethn_dm_dist['total_ethn_props'] = ethn_dm_dist['dm_counts']/sum(ethn_dm_dist['total_ethn_counts'])
ethn_dm_dist['count of diabetics with retinopathy'] = (only_dm_ret.groupby(['RIDRETH3']).size())
ethn_dm_dist['percent of diabetics of each ethnicity with retinopathy'] = ethn_dm_dist['count of diabetics with retinopathy']/ethn_dm_dist['dm_counts']
ethn_dm_dist

,RIDRETH3,dm_counts,dm_props,total_ethn_counts,total_ethn_props,count of diabetics with retinopathy,percent of diabetics of each ethnicity with retinopathy
0,1.0,187,0.129412,1990,0.012018,NaN,NaN
1,2.0,145,0.100346,1544,0.009319,32.0,0.220690
2,3.0,470,0.325260,5271,0.030206,36.0,0.076596
3,4.0,418,0.289273,4098,0.026864,86.0,0.205742
4,6.0,150,0.103806,1638,0.009640,84.0,0.560000
5,7.0,75,0.051903,1019,0.004820,NaN,NaN

In [ ]:
# this is where we will analyze the demographic variable distributions for everyone with diabetes
educ_dm_dist = (only_dm.groupby(['DMDEDUC2']).size()).reset_index(name = 'dm_counts')
# ethn_dm_dist.rename(columns = {'RIDRETH3': 'Race'})
educ_dm_dist['dm_props'] = educ_dm_dist['dm_counts']/sum(educ_dm_dist['dm_counts'])
total_educ = (demographics.groupby(['DMDEDUC2']).size()).reset_index(name = 'counts')
educ_dm_dist['total_educ_counts'] = total_educ['counts']
educ_dm_dist['total_educ_props'] = educ_dm_dist['dm_counts']/sum(educ_dm_dist['total_educ_counts'])
educ_dm_dist

In [ ]:
ethn_educ_dm_dist = (only_dm.groupby(['RIDRETH3', 'DMDEDUC2']).size()).reset_index(name = 'dm_counts')
ethn_educ_dm_dist['dm_props'] = ethn_educ_dm_dist['dm_counts']/sum(ethn_educ_dm_dist['dm_counts'])
total_ethn = (demographics.groupby(['RIDRETH3', 'DMDEDUC2']).size()).reset_index(name = 'counts')
ethn_educ_dm_dist['total_counts'] = total_ethn['counts']
ethn_educ_dm_dist['total_props'] = ethn_educ_dm_dist['dm_counts']/sum(ethn_educ_dm_dist['total_counts'])
ethn_educ_dm_dist

In [3]:
# Define the mapping dictionaries
gender_mapping = {'1': 'Male', '2': 'Female', 'NA': 'Missing'}
ethnic_mapping = {'1': 'Mexican American', '2': 'Other Hispanic',
                  '3': 'Non-Hispanic White', '4': 'Non-Hispanic Black',
                  '6': 'Non-Hispanic Asian', '7': 'Other Race - Including Multi-Racial', 'NA': 'Missing'}
educ_level_map = {'1':	'Less than 9th grade',
                  '2':	'9-11th grade (Includes 12th grade with no diploma)',
                  '3':	'High school graduate/GED or equivalent',
                  '4':	'Some college or AA degree',
                  '5':	'College graduate or above',
                  '7':	'Refused',
                  '9':	"Don't Know",
                  'NA':	'Missing'}

# Recode the values
demographics['RIAGENDR'] = demographics['RIAGENDR'].map(gender_mapping)
demographics['RIDRETH3'] = demographics['RIDRETH3'].map(ethnic_mapping)
demographics['DMDEDUC2'] = demographics['DMDEDUC2'].map(educ_level_map)

# Rename the columns
demographics = demographics.rename(columns={'RIAGENDR': 'Gender/Sex'})
demographics = demographics.rename(columns={'RIDRETH3': 'Ethnicity/Race'})
demographics = demographics.rename(columns={'DMDEDUC2': 'Education level'})

print(demographics)

           SEQN  SDDSRVYR  RIDSTATR Gender/Sex  RIDAGEYR  RIDAGEMN  RIDRETH1  \
0      109263.0      66.0       2.0        NaN       2.0       NaN       5.0
1      109264.0      66.0       2.0        NaN      13.0       NaN       1.0
2      109265.0      66.0       2.0        NaN       2.0       NaN       3.0
3      109266.0      66.0       2.0        NaN      29.0       NaN       5.0
4      109267.0      66.0       1.0        NaN      21.0       NaN       2.0
...         ...       ...       ...        ...       ...       ...       ...
15555  124818.0      66.0       2.0        NaN      40.0       NaN       4.0
15556  124819.0      66.0       2.0        NaN       2.0       NaN       4.0
15557  124820.0      66.0       2.0        NaN       7.0       NaN       3.0
15558  124821.0      66.0       2.0        NaN      63.0       NaN       4.0
15559  124822.0      66.0       2.0        NaN      74.0       NaN       2.0

      Ethnicity/Race  RIDEXMON  DMDBORN4  ...  FIAINTRP MIALANG  MIAPROXY  \
0                NaN       2.0       1.0  ...       2.0     NaN       NaN
1                NaN       2.0       1.0  ...       2.0     1.0       2.0
2                NaN       2.0       1.0  ...       2.0     NaN       NaN
3                NaN       2.0       2.0  ...       2.0     1.0       2.0
4                NaN       NaN       2.0  ...       2.0     NaN       NaN
...              ...       ...       ...  ...       ...     ...       ...
15555            NaN       1.0       1.0  ...       2.0     1.0       2.0
15556            NaN       2.0       1.0  ...       2.0     NaN       NaN
15557            NaN       2.0       1.0  ...       2.0     NaN       NaN
15558            NaN       1.0       1.0  ...       2.0     1.0       2.0
15559            NaN       2.0       2.0  ...       NaN     2.0       2.0

       MIAINTRP  AIALANGA      WTINTPRP      WTMECPRP  SDMVPSU  SDMVSTRA  \
0           NaN       NaN   7891.762435   8951.815567      3.0     156.0
1           2.0       1.0  11689.747264  12271.157043      1.0     155.0
2           NaN       NaN  16273.825939  16658.764203      1.0     157.0
3           2.0       1.0   7825.646112   8154.968193      2.0     168.0
4           NaN       NaN  26379.991724      0.000000      1.0     156.0
...         ...       ...           ...           ...      ...       ...
15555       2.0       1.0  21586.596728  21666.889837      1.0     166.0
15556       NaN       NaN   1664.919253   1838.169709      2.0     171.0
15557       NaN       NaN  14819.783161  16497.806674      1.0     157.0
15558       2.0       1.0   4666.817952   4853.430230      1.0     158.0
15559       2.0       NaN  14024.476634  15195.796658      1.0     149.0

       INDFMPIR
0          4.66
1          0.83
2          3.06
3          5.00
4          5.00
...         ...
15555      3.82
15556      0.07
15557      1.22
15558      3.71
15559       NaN

[15560 rows x 29 columns]

### This is where we will look at pre-diabetic patients' racial, educational, other demographic distributions

We will repeat the same process as above doing a Chi-square distribution but this time we already have the distribution of demographics for the entire NHANES surveyed people

In [ ]:
# this is everyone who has prediabetes
only_pre_dm = diabetics.query("DIQ160 == 1")
print(only_pre_dm)

In [ ]:
# this is where we will analyze the demographic variable distributions for everyone with diabetes
ethn_dm_dist = (only_dm.groupby(['RIDRETH3']).size()).reset_index(name = 'dm_counts')
# ethn_dm_dist.rename(columns = {'RIDRETH3': 'Race'})
total_ethn = (demographics.groupby(['RIDRETH3']).size()).reset_index(name = 'counts')
ethn_dm_dist['total_ethn_counts'] = total_ethn['counts']
ethn_dm_dist

In [ ]:
# this is where we will analyze the demographic variable distributions for everyone with diabetes
educ_dm_dist = (only_pre_dm.groupby(['DMDEDUC2']).size()).reset_index(name = 'dm_counts')
# ethn_dm_dist.rename(columns = {'RIDRETH3': 'Race'})
total_educ = (demographics.groupby(['DMDEDUC2']).size()).reset_index(name = 'counts')
educ_dm_dist['total_educ_counts'] = total_educ['counts']
educ_dm_dist

In [ ]:
ethn_educ_dm_dist = (only_pre_dm.groupby(['RIDRETH3', 'DMDEDUC2']).size()).reset_index(name = 'dm_counts')
total_ethn = (demographics.groupby(['RIDRETH3', 'DMDEDUC2']).size()).reset_index(name = 'counts')
ethn_educ_dm_dist['total_counts'] = total_ethn['counts']
ethn_educ_dm_dist

### Consideration:
Identifying patterns of comorbidities between two or more races/ethnicities; and genders (males versus females)

Here we are focusing on diabetics and retinopathy.

Are there differences between ethnicities and the types or subtypes of diabetic retinopathies?

Bioinformatics - we focus on pathways or molecular mechanisms that underlie disease

Incidence rate per 100 is another important metric to use.


What are we expecting (hint: look at the old paper, see what they found as results, see what they didn't investigate)

Table 1: known risk factors (citations for each factor, include citations for those citations).

### Consideration 2:

Why am I looking at this paper?

Why is the NHANES survey order the way it is?

Does it change depending on age, gender or ethnicities etc.,?

How does this help in terms of prompt engineering?

In [ ]:
import openai
from scipy import stats

openai.api_key = 'your-api-key'

def perform_statistical_analysis(data):
    mean = np.mean(data)
    std_dev = np.std(data)
    t_stat, p_value = stats.ttest_1samp(data, 0)
    summary = {
        'mean': mean,
        'std_dev': std_dev,
        't_stat': t_stat,
        'p_value': p_value
    }
    return summary

def summarize_results(summary):
    return (
        f"Mean: {summary['mean']:.2f}, "
        f"Standard Deviation: {summary['std_dev']:.2f}, "
        f"t-Statistic: {summary['t_stat']:.2f}, "
        f"p-Value: {summary['p_value']:.4f}"
    )

def ask_chatgpt(prompt):
    response = openai.Completion.create(
        engine="davinci-codex",  # Use "text-davinci-003" or another suitable model
        prompt=prompt,
        max_tokens=150
    )
    return response.choices[0].text.strip()

def main():
    # Example data
    data = np.random.normal(loc=0, scale=1, size=100)

    # Perform statistical analysis
    summary = perform_statistical_analysis(data)

    # Summarize results
    summary_text = summarize_results(summary)
    print(f"Statistical Summary: {summary_text}")

    # Create the prompt for ChatGPT
    prompt = (
        f"The results of the statistical analysis are as follows:\n{summary_text}\n"
        "What insights can we draw from these results?"
    )

    # Get response from ChatGPT
    response = ask_chatgpt(prompt)
    print(f"ChatGPT Response: {response}")

if __name__ == "__main__":
    main()